<!-- Cabeçalho com botão de navegação pelo site -->
<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="page-container">
<!-- Card de descrição -->
<ion-card class="custom-card-descricao">
  <ion-card-content>
    <div class="descricao-home">
      <h1>Conheça um pouco da nossa instituição:</h1>
      <br>
      <h2>Educação Infantil,<br>
          Ensino Fundamental,<br>
          Ensino Médio<br>
          e Turno Integral Bilíngue</h2>
          <br>
      <p>O Colégio Leonardo da Vinci foi pensado nos mínimos detalhes para proporcionar
         aos alunos uma experiência educacional completa, do Maternal ao Ensino Médio. 
         As famílias que buscam a melhor proposta pedagógica podem contar com nosso colégio,
         que traz em seu eixo o retorno à caligrafia, 
         a exigência de leituras clássicas e a adoção de notas e provas para mensurar o desempenho dos alunos, 
         entre outros instrumentos de ensino-aprendizagem.</p>
         <br>
         <p>App desenvolvido por:
          <br>- Lai
          <br>- Bernardo
          <br>- Luis
        </p>
    </div>
  </ion-card-content>
</ion-card>
</div>
